/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

h6{
    font-weight: 600;
    margin-top: 0;
}

.kart{
    /*ikili sütunlar halinde*/
    /*width: 483px !important*/;
    /*üçlü sütunlar halinde*/
    /*width: 322px !important;*/
    width:483px;
    height: 181px !important;
    margin-bottom: 18px;
    position:relative;
}

.kart>.card-panel{
    height: 100%;
}

.kart-aciklama{
    display: block;
}

.kart-alt{
    position: absolute;
    width: 100%;
    left: -10px;
    bottom: -8px;
    height: 36px;
    padding-left: 20px;
}

.kart-ust{
    width: 100%;
    position: absolute;
    left: -10px;
    height: 36px;
    padding-left: 20px;
    top: 7px;
}

.cevir{
/*    width: 80px;
    right: 0;
    position: absolute;
    height: 100%;
    font-weight: 600;
    text-align: center;
    padding-top: 2px;*/
    /*background-color: #e57373;*/
}

.cevir:hover{
    /*background-color: #e57373;*/
}

.ayar-basligi{
    line-height: 20px;
    min-height: 20px;
    padding-bottom: 2px;
    vertical-align: bottom;
    color: #162643;
    font-size: 16px;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
}

.title{
    font-weight: bold;
}

.chip{
    margin-left: 20px;
}

.ceviri-kapsayici,.giris-kayit-divi,.cevrilecek-metin-ekleme-divi{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.orijinal-metin-divi,.cevrilen-metin-divi{
    height: 100%;
    background-color: #ffe0b2;
}

.orijinal-metin-divi,.cevrilecek-metin-divi{
    background-color: #ffe0b2;
    border-right:5px dashed teal;
}

.cevrilen-metin,.cevrilecek-metin-divi{
    height: 100% !important;
    overflow-y: auto !important;
}

.cevrilecek-metin-divi{
    float: none !important;
    margin: 0 auto;
    border: 5px dashed teal;
    border-width: 0 5px 0 5px;
    background-color: #ffe0b2;
    position: relative;
}

.giris-kayit-divi-form{
    float: none !important;
    margin: 0 auto;
    margin-top: 100px;
    /*border:5px dashed teal;*/
    background-color: #ffe0b2;
    position: relative;
}

.cevrilen-metin-input{
    height:100% !important;
}

#yorum{
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    height:22px;
}

.yorum-label{
    background-color: white;
}

.yorum-input-field{
    margin-top: 0px;
    height: 50px;
}

.orijinal-metin{
    height: 100%;
    overflow-y: auto;
}

.orijinal-metin-divi>.card-panel{
    padding:10px !important;
    position: relative;
}

.kaydet,.cevrilecek-metni-kaydet {
    bottom: 20px;
    right: 20px;
    position: absolute;
}

.ceviri-kapsayici-kapat{
    top: 5px;
    right: 8px;
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    padding: 10px;
}

.giris-kayit-divi-kapat{
    top: -22px;
    right: -16px;
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    padding: 20px;
    z-index: 2;
}

.yorumlari-gor {
    right: 40px;
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    padding: 10px;
    top: 11px;
}

#kaydolma-formu > button.btn,#giris-formu > button.btn{
    width: 100%;
}

.kayit-durumu,.giris-durumu{
    display: block;
}

.yeni-cevrilecek-metin-ekle{
    position: fixed;
    bottom: 0px;
    margin: 20px;
}

#cevrilecek-metin-formu{
    height: 100%;
}

.ayar-bolumu>div>form{
    margin-bottom: 30px;
}

.tam-genislik{
    width: 100%;
}

.kullanici-resmi{
    cursor: pointer;
}

.resmi-kirp-div,.resmi-kirp-govde{
    width: 600px;
    margin: 0 auto;
}

.on-izleme{
    top: -380px;
    left: -113px;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

/*içeriği kadar yüksekliği ayarlanan modal*/
.resmi-kirp-kapsayici{
    display: none;
    position: absolute;
    top: 0;
    /* bottom: 0; */
    width: 100%;
    /* height: 100%; */
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.resmi-kirp-aciklama{
    background: white;
    padding: 8px;
    margin-bottom: 0px;
}

.surec{
    width: 100%;
    height: 10px;
background-color: white;
}

.surec-ic{
    width: 0px;
    height: 10px;
    background-color: #4CAF50;
}